<a href="https://colab.research.google.com/github/brendaa94/aluragit/blob/master/DIO_IntroCi%C3%AAnciaDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier #algoritimo de classificação
from sklearn.model_selection import train_test_split #Função para separar banco de dados em treino e validação

In [47]:
dados = pd.read_csv ('/content/train.csv')

In [48]:
dados.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
dados = dados.drop(['Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)

In [50]:
dados.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [51]:
dados = dados.set_index(['PassengerId']) #Criação chave primária correspondente ao passageiro
dados = dados.rename(columns = {'Survived' : 'Target'}, inplace = False) #inplace: atribuir nov nome à coluna ou não

In [52]:
dados.head()

             Target  Pclass     Sex   Age  SibSp  Parch     Fare
PassengerId
1                 0       3    male  22.0      1      0   7.2500
2                 1       1  female  38.0      1      0  71.2833
3                 1       3  female  26.0      0      0   7.9250
4                 1       1  female  35.0      1      0  53.1000
5                 0       3    male  35.0      0      0   8.0500

In [53]:
dados.describe()

           Target      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [59]:
dados.describe(include=['O']) #atibuto para calcular a frequancia variavel categorica

         Sex
count    891
unique     2
top     male
freq     577

In [61]:
dados['Sex_F'] = np.where(dados['Sex'] == 'female',1,0)
dados['P_class_2']= np.where(dados['Pclass'] == 1,1,0)
dados['P_class_2']= np.where(dados['Pclass'] == 2,1,0)
dados['P_class_3']= np.where(dados['Pclass'] == 3,1,0)

In [63]:
dados = dados.drop(['Pclass','Sex'], axis=1)

In [64]:
dados.head()

             Target   Age  SibSp  Parch     Fare  Sex_F  P_class_2  P_class_3
PassengerId
1                 0  22.0      1      0   7.2500      0          0          1
2                 1  38.0      1      0  71.2833      1          0          0
3                 1  26.0      0      0   7.9250      1          0          1
4                 1  35.0      1      0  53.1000      1          0          0
5                 0  35.0      0      0   8.0500      0          0          1

In [65]:
dados.isnull().sum() #Verificar se tem dados em branco (missing)

Target         0
Age          177
SibSp          0
Parch          0
Fare           0
Sex_F          0
P_class_2      0
P_class_3      0
dtype: int64

In [ ]:
dados.isnull().sum()

In [67]:
dados.fillna(0, inplace = True) #Substituir valores em branco por zero

In [68]:
dados.head()

             Target   Age  SibSp  Parch     Fare  Sex_F  P_class_2  P_class_3
PassengerId
1                 0  22.0      1      0   7.2500      0          0          1
2                 1  38.0      1      0  71.2833      1          0          0
3                 1  26.0      0      0   7.9250      1          0          1
4                 1  35.0      1      0  53.1000      1          0          0
5                 0  35.0      0      0   8.0500      0          0          1

In [69]:
dados.isnull().sum()

Target       0
Age          0
SibSp        0
Parch        0
Fare         0
Sex_F        0
P_class_2    0
P_class_3    0
dtype: int64

In [71]:
x_train, x_test, y_train, y_test = train_test_split(dados.drop(['Target'], axis=1),
                                                    dados["Target"],
                                                    test_size = 0.3,
                                                    random_state = 1234)
[{'treino': x_train.shape},
{'teste': x_test.shape}]

[{'treino': (623, 7)}, {'teste': (268, 7)}]